* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
    background-color: black;
    height: 80px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;

    .contenedorlinks {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 20px;
        
         }
    }

}

#logo {
    margin-left: 100px;
}

