
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Brandon_reg;
    src: url(Font/Brandon_reg.otf);


}
footer {
    width: 100%;
    padding: 0;
    background-color: black;
    margin-top: 170px;

.negro {
    color: white;
    display: grid;
    width: 100%;
    margin: auto;
    gap: 20px;
    margin-bottom: 30px;

    .enlaces {
        display: grid;
        grid-template-columns: 1.8fr 1fr 1fr 1fr;

        .primera {
            align-self: self-end;
            font-size: 30px;
            font-family: Brandon_reg;
            color: #B4B7B7;
            padding-left: 70px;
        }

        .segunda {
            align-self: center;
            font-family: Brandon_reg;
            font-size: 30px;
            color: #B4B7B7;
        }

        .medio {
            justify-self: center;
            font-family: Brandon_reg;
            font-size: 30px;
        }

        .tercera {
            align-self: self-end;
            font-family: Brandon_reg;
            font-size: 30px;
            color: #B4B7B7;

            #otrotexto{
                display: none;
            }

            .blanco{
                color: white;
            }
            
            #separado {
                margin-top: 25px;
            }
        }

        .ultima {
            text-align: right;
            font-size: 30px;
            align-self: self-end;
            color: #B4B7B7;
            padding-right: 70px;

            .callcenter{
                font-family: PFRegalDisplayPro-Regular;
            }

            #espacio{
                margin-top: 10px;
            }

            .tamaño{
                font-size: 40px;
                font-family: PFRegalDisplayPro-Regular;
                color: white;
            }
        }

        ul {
            text-decoration: none;

            li{
                list-style: none;
            }
        }

    }

    .copy {
        border-top: solid 1.5px white;
        font-size: 20px;

        p{
            text-align: center;
            margin: 20px 0;
        }
    }
}

.gris {
    background-color: #26282B;
    height: auto;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-left: 85px;
    margin-right: 50px;

    .segundafooter {
        display: grid;
        padding: 40px;
    
        input[type="email"]{
            background-color: transparent;
            font-family: Brandon_reg;
            border: solid 1px #7E7E7E;
            border-radius: 100px;
            padding: 10px 30px;
            margin-top: 10px;
        }

        input[type="email"]::placeholder {
            font-size: 20px;
        }

        button {
            background-color: transparent;
            border: solid 1px #DF991B;
            color: #DF991B;
            font-family: Brandon_reg;
            font-size: 30px;
            font-weight: 390px;
            border-radius: 100px;
            width: 60%;
            justify-self: end;
            margin-top: 20px;
            text-align: center;
            align-self: center;
            }

        p {
            margin-left: 30px;
            color: white;
            font-size: 25px;
            font-family: Brandon_reg;

        }
        
    }

    }

    #textfooter {
        font-size: 39px;
        color: white;
        font-family: PFRegalDisplayPro-Regular;
        margin-left: 70px;
    

        span {
            font-size: 30px;
            font-family: PFRegalDisplayPro-Regular;
            color: #DF991B;

        }
    }

    }


@media (max-width: 1311px){
    footer {
        .negro {
            .enlaces {
                .primera {
                    font-size: 25px;
                }

                .segunda {
                    font-size: 25px;
                }
                
                .medio {
                    font-size: 25px;
                }

                .tercera {
                    font-size: 25px;
                }

                .ultima{
                    font-size: 25px;

                    .tamaño {
                        font-size: 30px
                    }
                }
        
            }  
    
        }   

    }
}

@media (max-width: 1130px){
    footer {
        .negro {

            .copy {
                font-size: 15px;
            }     

            .enlaces {
                .primera {
                    font-size: 20px;
                }

                .segunda {
                    font-size: 20px;
                }
                
                .medio {
                    font-size: 20px;
                }

                .tercera {
                    font-size: 20px;
                }

                .ultima{
                    font-size: 20px;

                    .tamaño {
                        font-size: 25px
                    }
                }
        
            }  
    
        }   

    }
}

@media (max-width: 862px) {

    footer {
        .negro {

            .copy {
                font-size: 12px;
            }     

            .enlaces {
                .primera {
                    font-size: 16px;
                }

                .segunda {
                    font-size: 16px;
                }
                
                .medio {
                    font-size: 16px;
                }

                .tercera {
                    font-size: 16px;
                }

                .ultima{
                    font-size: 16px;

                    .tamaño {
                        font-size: 20px
                    }
                }
            }
        }

        .gris {
            .segundafooter {

                button {
                    font-size: 20px;
                }

                p {
                    font-size: 15px;
                }
                input[type="email"]::placeholder {
                    font-size: 15px;
                }
            }
        }

        #textfooter {
            font-size: 29px;
            span {
                font-size: 20px;
            }
        }
    }
}

@media (max-width: 801px) {

    .SeccionPrincipal {
        grid-template-columns: 1fr;

        .tamaño1 {
            display: none;
        }

        .tamaño2 {
            display: none;
        }
    }

    footer {
        .gris {
            display: none;
        }

        .negro {

            .enlaces {
                grid-template-columns: repeat(2, 1fr);

                .tercera{
                    font-size: 25px;
                }

                #otrotexto {
                    display: block;
                }


                .blanco{
                    display: none;
                }

                .callcenter{
                    display: none;
                }

                .medio {
                    justify-self: baseline;
                    margin-top: 12px;
                }

                .primera {
                    grid-column: span 2;
                    font-size: 23px;
                    padding-left: 20px;
                    margin-top: 120px;
                    margin-bottom: 20px;
                }

                .segunda {
                    font-size: 30px;
                    padding-left: 20px;
                }

                .ultima {
                    grid-column: span 2;
                    margin-top: 30px;
                    justify-self: baseline;
                    text-align: left;
                    padding-left: 20px;
                    margin-bottom: 30px;
                    margin-top: 60px;
                }
            }
        }
    }
}